// Import page-specific CSS files here.
@import "home";
@import 'show';

.container {
  margin-top:4vh;
}

.cocktailvideo {
  object-fit: fill;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

