/* LINK BACK TO HOMEPAGE */
.linkback {
  background-color: white;
  width: 22vh;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 6px;
  padding-left: 13px;
  position: absolute;
  left: -1vh;
  bottom: 13vh;
}

.linkback a {
  color:#F9C0C3;
}

.linkback a:hover {
  text-decoration:none;
}

/* COCKTAIL IMAGE */
.show-image {
  height:100vh;
  width:94vw;
}

.layout {
  display:flex;
  background-color:white;
  position:relative;
}

/* SHOW PAGE INFO */
.cocktailname {
  font-family: georgia;
  font-size: 9vh;
}

.showinfo {
  display: flex;
}

.showpageinfo {
  display: flex;
  flex-direction: column;
  margin-left: 6vh;
  padding: -1vh;
}

/* INGREDIENTS */
.headers {
  font-size: 13px;
  margin-left: 2vh;
  margin-top: 0vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.5;
}

.recipetable {
  border-left: 9px solid #F4FFDD;
  margin-top:7vh;
  margin-bottom: 5vh;
}

.table {
  font-size: 13px;
  margin-bottom:0vh!important;
  margin-left: 1.5vh;
  width:25vw!important;
}

.tableheadings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.table > tbody > tr > td {
  border-top:1px solid beige!important;
  text-align:center!important;
}

/* REVIEW COMMENTS*/
.badge {
  background-color:beige!important;
}

.reviews {
  font-size: 2vh;
  margin-top: 2vh;
  margin-left: 1vh;
}

.review {
  margin-bottom: -30vh;
}

.fa {
  color: #F9C0C3;
  text-decoration: none
 }

.list-group-item {
  border-top: 1px solid beige!important;
  border-bottom:1px solid white!important;
  border-left:1px solid white!important;
  border-right:1px solid white!important;
}

.list-group {
  width: 25vw!important;
  margin-left:1vh;
}


/* ADD INGREDIENT MODAL */
#myModal {
  top: 13vh;
  right: -165vh;
  outline: none;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid white;
  margin-top: 21vh;
}

.modalbtn {
  border-radius: 50%;
  padding: 2px;
  background-color: #F9C0C3;
  color: white;
  border: 1px solid #F9C0C3;
  width: 2vw;
  font-size: 15px;
  font-weight: lighter;
  margin-right: 9px;
  margin-top: -9px;
}


.modalbtn:hover {
  text-decoration:none;
}

.dose {
  width:41vw;
}

.doses {
  margin-left: -2vh;
  width: 36vw;
}

/* ADD REVIEW MODAL */
#myModal1 {
  top: 13vh;
  right: -165vh;
  outline: none;
}











.btn-group-lg>.btn, .btn-lg {
    /* padding: 10px 16px; */
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 6px;
    }




.heading h3 {
   font-size: 13px;
    margin-left: 1vh;
    margin-top: 0vh;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.5;
}





.row {
  margin:0;
}

.form-group {
  font-size:2vh;
}
