/* LINK BACK TO HOMEPAGE */
.linkback {
  background-color: white;
  width: 22vh;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 6px;
  padding-left: 13px;
  position: absolute;
  left: -1vh;
  bottom: 13vh;
  font-family: 'open sans';
}

.linkback a {
  color:#F9C0C3;
}

.linkback a:hover {
  text-decoration:none;
  color:#F9C0C3;
}

/* COCKTAIL IMAGE */
.show-image {
  height:100vh;
  width:94vw;
  border-right: 14px solid beige;
}

.layout {
  display:flex;
  background-color:white;
  position:relative;
}

/* SHOW PAGE INFO */
.cocktailname {
  font-family: lato;
  font-size: 11vh;
  color:#523E40;
}

.showinfo {
  display: flex;
}

.showpageinfo {
  display: flex;
  flex-direction: column;
  margin-left: 6vh;
  padding: -1vh;
}

/* INGREDIENTS */
.headers {
  font-size: 13px;
  margin-left: 2vh;
  margin-top: 0vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.5;
  font-family: 'open sans';

}

.ingredienttable {
  margin-top:7vh;
  margin-bottom: 5vh;
}

.table {
  font-size: 13px;
  margin-bottom:0vh!important;
  margin-left: 1.5vh;
  border-left:9px solid #F4FFDD;
  font-family: 'open sans';
}

.scrolltable {
  height: 28vh;
  display: block;
  overflow: scroll;
  width: 25vw;
}

.tableheadings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.table > tbody > tr > td {
  border-top:1px solid beige!important;
  text-align:center!important;
  color:#523E40;
}

/* REVIEW COMMENTS*/
.badge {
  background-color:beige!important;
}

.reviews {
  font-size: 2vh;
  margin-top: 2vh;
  margin-left: 1vh;
}

.review {
  margin-bottom: -26vh;
}

.fa {
  color: #F9C0C3;
  text-decoration: none
}

.list-group-item {
  border-top: 1px solid beige!important;
  border-bottom:1px solid white!important;
  border-left:1px solid white!important;
  border-right:1px solid white!important;
  color: #523E40;
}

.list-group {
  width: 25vw!important;
  margin-left:1vh;
  height: 28vh;
  overflow-y: scroll;
  display: block;
  font-family: 'open sans';

}

/* ADD INGREDIENT MODAL */
#myModal {
  top: 13vh;
  right: -38vh;
  outline: none;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid white!important;
  margin-top: 21vh;
}

.modalbtn {
  border-radius: 50%;
  padding: 2px;
  background-color: #F9C0C3;
  color: white;
  border: 1px solid #F9C0C3;
  width: 2vw;
  font-size: 15px;
  font-weight: lighter;
  margin-right: 9px;
  margin-top: -9px;
}

.modalbtn:hover {
  text-decoration:none;
}

.dose {
  width:61vw;
}

.doses {
  margin-left: -2vh;
  width: 36vw;
}

.modaltitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11.5px;
  opacity: 0.7;
  margin-bottom: 3vh;
}

.btn {
  border-radius: 17px;
  background-color: lightpink;
  color: white;
  font-size: 13px;
}

.modal-content {
  width:33vw;
}

/* ADD REVIEW MODAL */
#myModal1 {
  top: 13vh;
  right: -165vh;
  outline: none;
}

.addmodal {
  background-color: #F9C0C3!important;
  color: white!important;
  border: 1px solid!important;
  border-radius: 17px!important;
  font-size: 12px!important;
  padding:9px;
}

.modalreview {
  margin-top: -3vh;
}














.row {
  margin:0;
}

.form-group {
  font-size:2vh;
}
