.card {
  height: 60vh;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 7vh;
  border-radius: 0.5vh;
  width: 25vw;
  display: inline-block;
  margin-left: 2vh;
}

.card h2 {
  font-size: 7vh;
  padding: 3vh;
  font-family: 'Playfair Display', serif;
  color: white;
  position: absolute;
  top: 24vh;
  letter-spacing: 1px;
  text-shadow: 2px 3px #F9C0C3;
}

.cards {
  overflow-x: scroll;
  white-space: nowrap;
  width: 98vw;
  margin-top: -87vh;
  z-index: 22;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}
