// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";

/* CREATE A COCKTAIL */
.create-button:hover {
  color: white;
  text-decoration: none;
  font-size:2vh;
  border: 1px solid;
  padding: 2.5vh;
}

.create-button {
  color: white;
  text-decoration: none;
  font-size:2vh;
  border: 1px solid;
  padding: 2.5vh;
  font-family: 'open sans';
}

.createbutton {
  text-align:center;
  margin-top: 8vh;
  font-family: 'open sans';
}

/* SCROLL DOWN */
a.scrolldown {
  color:white;
  font-family: 'open sans';
  font-size: 13px;
  letter-spacing: 1px;
}

a.scrolldown:hover {
  text-decoration: none;
}

.scrolldowndiv {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 14vh;
}

/* CARD CONTAINER */
.cardcontainer {
  margin-top: 4vh;
  margin-left: 0vh;
  background-color: white;
  padding-top: 5vh;
}

.row {
  margin-top:7vh;
}

/* VIDEO */
.video {
  object-fit: cover !important;
  min-width: 100vw;
  max-width: 100vw;
  opacity: 0.6;
  min-height: 100vh;
  max-height: 100vh;
}

.videocontainer {
  background:#F9C0C3;
  height: 106vh;
}

/* TITLE */
.title {
  font-family: 'Lato';
  color: white;
  font-size: 51px;
  text-align: center;
  font-weight: bold;
}

.title strong {
  text-shadow: 4px 4px #F9C0C3;
 }

.titlelink {
  position: absolute;
  top: 52vh;
  right: 21vh;
}

.titlelink h1 {
  font-family: 'Lato';
  color: white;
  text-align: center;
  margin-top: -1vh;
  margin-bottom: -1vh;
}

/* DESCRIPTION CONTAINER */
.descriptioncontainer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: -4vh;
  margin-top: -2vh;
}

.description {
  color: black;
  font-size: 26px;
  width: 30vw;
  font-family: Lato;
  text-align: center;
  border-bottom: 2px solid beige;
  border-top: 2px solid beige;
  padding: 3vh;
}



