// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";


.create-button:hover {
  text-decoration: none;
}

.create-button {
 color: white;
  text-decoration: none;
  position: absolute;
  top: 3vh;
  right: 5vh;
  font-size:2vh;
}


.row {
  margin-top:7vh;
}
